---json
{
"layout": "base"
}
---
<article itemscope :itemtype="schema('BlogPosting')">
	<h1 @text="title"></h1>
	<small>
		<time :datetime="htmlDateString(page.date)" itemprop="datePublished"
			@text="readableDate(page.date)"></time>
		- <span itemprop="author" itemscope :itemtype="schema('Person')">
			<a :href="metadata.author.url" rel="author" itemprop="url">
				<span itemprop="name" @text="metadata.author.name"></span>
			</a>
		</span>
	</small>
	<p><small itemprop="abstract" @content="(description"></small></p>
	<div itemprop="articleBody" @html="content" />
</article>
