---json
{
"layout": "base.html",
"tags": [
"post"
]
}
---
<article itemscope itemtype={% schema "BlogPosting" %}>
	<h1>{{ title }}</h1>
	<small>
		<time datetime="{{ page.date | htmlDateString }}" itemprop="datePublished">{{ page.date | readableDate
			}}</time>
		- <span itemprop="author" itemscope itemtype="{% schema " Person" %}>
			<a href="{{metadata.author.url}}" rel="author" itemprop="url">
				<span itemprop="name">{{metadata.author.name}}</span>
			</a>
		</span>
	</small>
	<div temprop: "articleBody">{{ content | safe }}</div>
</article>
